main {
    display: grid;
    grid-template-columns: 0.19fr 0.31fr 0.10fr 0.21fr 0.19fr;
    grid-template-rows: 110px 300px 210px 110px;
    grid-gap: 5px;
    border-style: groove;
    font-size: 26px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif
}

div {
    background-color: white;
    color: white;
}

.item1 {
    background-color: rgb(0, 132, 255);
    text-align: left;
    text-indent: 30px;
    padding: 40px 0;
    grid-column: 1 / 6;

}

.item2 {
    background-color:rgb(1, 185, 1);
    text-align: center;
    padding: 130px 0;
    grid-column: 2 / 4;

}

.item3 {
    background-color: rgb(209, 82, 209);
    text-align: center;
    padding: 130px 0;
    grid-column: 4 / 5;

}

.item4 {
    background-color: orange;
    text-align: center;
    padding: 90px 0;
    grid-column: 2 / 3;

}

.item5 {
    background-color: orange;
    text-align: center;
    padding: 90px 0;
    grid-column: 3 / 5;

}

.item6 {
    background-color:blue;
    padding: 40px 0;
    text-indent: 30px;
    text-align: left;
    grid-column: 1 / 6;

}
